@import url('https://fonts.cdnfonts.com/css/roseritta');

body{
    margin: 0;
    /* overflow-x: hidden; */
    background: #F2F1EB;
    
}
.name_sec{
    background: #F2F1EB;
    position: relative;
    font-family: 'Roseritta', sans-serif;
    padding: 10%;                                          
}
.name_main{
    color: #588660;
    font-size: 6.5em;
    width: 50%;
}
.circle{
    height: 100px;
    width: 100px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    transition: 3000ms ease-in-out;
}
.navigation{
    position: fixed;
    right: 20px;
    top: 50%;
    display: flex;
    transform: translate(0, -50%);
}
.navigation::before{
    
}
.navtextplaceholder{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 12em;
}
.nav_text{
    float: right;
    color: #AFC8AD;
    font-size: 1.5em;
    font-family: 'Roseritta', sans-serif;
    transition: 200ms ease;
}
.nav_text:hover{
    font-size: 2em;
    color: #588660;
}
.footercon{
    position: relative;
    text-align: center;
    overflow: hidden;
    height:9.5em;
}
.footername{
    color: #afc8ada2;
    font-size: 14em;
    font-family: 'Roseritta', sans-serif;
}
                